<header id="top-header">
  <div id="siteName" class="siteName">
    <a href="/" style="text-decoration: none !important;" title="Return to home page">CSE Motors</a>
  </div>
  <div id="tools" class="tools">
    <a title="Click to log in" style="text-decoration: none !important;" href="/account/login">My Account</a>
  </div>
</header>