<h1>Welcome to CSE Motors</h1>

<div class="main-image-container">
    <div class="own-container">
        <header>DMC delorean<br> 3 Cup holders <br> Fuzzy dice!</header>
        <br>
        <button class="own-btn">Own Today</button>
    </div>
    <div class="main-image">
        <img class="delorean" src="/images/vehicles/delorean.jpg" alt="delorean">
    </div>
</div>

<div class="spec-conainer">
    <div class="upgrades-container">
        <header class="upgrades-header">Delorean Upgrades</header>
        <div class="upgrades-grid">
            <div>
                <div class="img-container">
                    <img src="/images/upgrades/flux-cap.png" alt="flux-cap">
                </div>
                <a href="#">Flux Capacitor</a>
            </div>
            <div>
                <div class="img-container">
                    <img src="/images/upgrades/flame.jpg" alt="flame">
                </div>
                <a href="#">Flame Decals</a>
            </div>
            <div>
                <div class="img-container">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper_sticker">
                </div>
                <a href="#">Bumper Stickers</a>
            </div>  
            <div>
                <div class="img-container">
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap">
                </div>
                <a href="#">Hub Caps</a>
            </div>
        </div>
    </div>
    <div class="reviews-container">
        <header class="reviews-header">DMC Delorean Reviews</header>
        <div>
            <ul class="reviews-ul">
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest rode on the road." (4/56)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
    </div>
</div>

