<h1>Welcome to CSE Motors</h1>

<div class="main-image-container">
    <div class="own-container">
        <p>DMC delorean<br> 3 Cup holders <br> Fuzzy dice!</p>
        <button class="own-btn">Own Today</button>
    </div>
    <div class="main-image">
        <img class="delorean" src="/images/vehicles/delorean.jpg" alt="delorean">
    </div>
</div>

