.notice {
    margin-top: 0;
    padding-top: 1%;
    color: rgb(7, 190, 7) !important;
}

.approve-containor {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    max-width: 99%;
    height: fit-content;
    margin-bottom: 1%;
}

.inventory-grid {
    display: grid;
    grid-template-columns: auto;
    row-gap: 2%;
    column-gap: 4vw;
    margin-top: 6vh;
    margin-bottom: 6vh;
    justify-items: center;
}

.inv-approvals {
    background: linear-gradient(141deg,rgba(0, 19, 56, 1) 0%, rgba(20, 37, 79, 1) 14%, rgba(45, 59, 107, 1) 40%, rgba(74, 87, 138, 1) 57%, rgba(86, 99, 151, 1) 73%, rgba(128, 140, 196, 1) 92%);
    /* background: linear-gradient(to bottom right, rgba(0, 19, 56, 1) 0%, rgba(45, 59, 107, 1) 25%, rgb(82, 90, 124) 65%, rgb(163, 163, 163) 89%); */
    border-radius: 10px;
    height: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    width: 60%;
}

.classification-grid {
    display: grid;
    grid-template-columns: auto;
    row-gap: 4%;
    column-gap: 4vw;
    margin-top: 6vh;
    justify-items: center;
    height: fit-content;
}

.action-forms {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
    margin-bottom: 1vh;
}

.delete-btn {
    background: rgb(201, 0, 0) !important;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    height: 5vh;
    margin-bottom: 2vh;
}

.approve-btn, .delete-btn {
    width: 80%;
}