body {
    background-image: url("../images/vehicles/Lamborghini-Centenario.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(8px);
    margin: 0px;
    min-height: 100vh;
    color: white;
}

#top-header {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.3);
}

#wrapper {
    margin: 0%;
}

.nav {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.6);
}

.siteName > a {
    color: white !important;
}

.tools > a {
    color: white !important;
    font-size: larger;
}

.main-header {
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.3);
    margin: 0%;
    padding: 2%;
}

footer {
    margin-top: 5%;
    padding: 1%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.3);
}

.management-links {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    width: 99%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.3);
    border-radius: 10px;
}

.management-links > a {
    color: white !important;
    padding: 5%;
}