input:required:invalid, input:focus:invalid {
    color: red;
    background-position: right top;
    background-repeat: no-repeat;
}

input:required:valid {
    color: green;
    background-position: right top;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1000px) {
        .login-container {
        font-family: 'Roboto', helvetica, arial, sans-serif;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        height: fit-content;
        padding-top: 10vh;
    }


    #inventoryDisplay > tbody > tr > td > a{
        color: white !important;
    }

    form {
        text-align: center;
        background: linear-gradient(to bottom right, rgba(0, 19, 56, 1) 0%, rgba(45, 59, 107, 1) 25%, rgb(82, 90, 124) 65%, rgb(163, 163, 163) 89%);
        width: 40%;
        height: 100%;
        padding-top: 3vh;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 10px;
    }

    .form-header {
        color: white;
    }

    form > input, form > select {
        height: 5vh;
        width: 40vh;
        border-radius: 10px;
        border-style: none;
    }

    textarea {
        width: 40vh;
        height: 15vh;
        border-radius: 10px;
    }

    form > button {
        height: 5vh;
        width: 40vh;
        border-radius: 10px;
        border-style: none;
        background: linear-gradient(to bottom right, rgb(0, 210, 218),  rgb(159, 249, 252));
        cursor: pointer;
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 999px) {
        .login-container {
        font-family: 'Roboto', helvetica, arial, sans-serif;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        height: fit-content;
        padding-top: 5vh;
    }

    form {
        text-align: center;
        background: linear-gradient(to bottom right, rgba(0, 19, 56, 1) 0%, rgba(45, 59, 107, 1) 25%, rgb(82, 90, 124) 65%, rgb(163, 163, 163) 89%);
        width: 90%;
        height: 100%;
        padding-top: 3vh;
        border-radius: 10px;
        padding-left: 1%;
        padding-right: 1%;
    }

    #inventoryDisplay, #classificationList {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .form-header {
        color: white;
    }

    form > input, form > select {
        height: 5vh;
        width: 80%;
        border-radius: 10px;
        border-style: none;
    }

    textarea {
        width: 80%;
        height: 15vh;
        border-radius: 10px;
    }

    form > button {
        height: 5vh;
        width: 80%;
        border-radius: 10px;
        border-style: none;
        background: linear-gradient(to bottom right, rgb(0, 210, 218),  rgb(159, 249, 252));
        cursor: pointer;
        margin-bottom: 8%;
    }
}