input:required:invalid, input:focus:invalid {
    color: red;
    background-position: right top;
    background-repeat: no-repeat;
}

input:required:valid {
    color: green;
    background-position: right top;
    background-repeat: no-repeat;
}

.password-prompt {
    width: 40vh; 
    text-align: center;
    margin: auto;
}

@media screen and (min-width: 1000px) {
    .register-container {
        font-family: 'Roboto', helvetica, arial, sans-serif;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        height: fit-content;
        margin-top: 15vh;
    }

    form {
        text-align: center;
        background: linear-gradient(to bottom right, rgb(52, 72, 102), rgb(134, 124, 124));
        width: 40%;
        height: 100%;
        padding-top: 3vh;
        border-radius: 10px;
    }

    .form-header {
        color: white;
    }

    form > input {
        height: 5vh;
        width: 40vh;
        border-radius: 10px;
        border-style: none;
    }

    form > button {
        height: 5vh;
        width: 40vh;
        border-radius: 10px;
        border-style: none;
        background: linear-gradient(to bottom right, rgb(0, 210, 218),  rgb(159, 249, 252));
        cursor: pointer;
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 999px) {
    .register-container {
        font-family: 'Roboto', helvetica, arial, sans-serif;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        height: fit-content;
        margin-top: 5vh;
    }

    form {
        text-align: center;
        background: linear-gradient(to bottom right, rgb(52, 72, 102), rgb(134, 124, 124));
        width: 90%;
        height: 100%;
        padding-top: 3vh;
        border-radius: 10px;
    }

    .form-header {
        color: white;
    }

    form > input {
        height: 5vh;
        width: 40vh;
        border-radius: 10px;
        border-style: none;
    }

    form > button {
        height: 5vh;
        width: 40vh;
        border-radius: 10px;
        border-style: none;
        background: linear-gradient(to bottom right, rgb(0, 210, 218),  rgb(159, 249, 252));
        cursor: pointer;
        margin-bottom: 8%;
    }
}