<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/background.css">

<% if (title) { %>
<!--<h1 class="form-header"><%= title %></h1>-->
<% } else {
  res.redirect('/')
} %>
<div class="error">
    <%- messages() %>
    <% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
  <%  }) %>
  </ul>
  <% } %>
</div>

<div class="login-container">
    <form action="./add-classification" method="post">
      <h1 class="form-header">Add Classification</h1>
      <label for="classificationName" > </label><br>
      <input type="text" name="classification_name" id="classificationName" placeholder=" Class Name" required value="<%= locals.classification_name %>"><br><br>
      <button type="submit">Add Class</button>
    </form>
  </div>