<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/background.css">

<% if (title) { %>
<h1 class="main-header"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<div class="error">
    <%- messages() %>
    <% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
  <%  }) %>
  </ul>
  <% } %>
</div>

<div class="management-links">
  <a href="/inv/add-classification">Add Classification</a><br>
  <a href="/inv/add-inventory">Add Vehicle</a>
</div>
<br>
<br>

<div class="login-container">
  <table class="action-table" id="inventoryDisplay"><%- classificationSelect %></table>
</div>

<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="/js/inventory.js"></script>